trysource "../nvhost/drivers/video/tegra/Kconfig"
trysource "../nvhost/drivers/video/tegra/Kconfig.nvhost"
trysource "drivers/video/tegra/Kconfig.nvhost"

config TEGRA_GRHOST_SYNC
	depends on TEGRA_GRHOST || TEGRA_HOST1X
	bool "Tegra host synchronization objects"
	default y
	select SYNC
	help
	  Add tegra host backend for the cross driver synchronization framework.
	  Allows creating sync fence file descriptors from Tegra host syncpoints.

trysource "../nvmap/drivers/video/tegra/nvmap/Kconfig"
trysource "../nvmap/drivers/video/tegra/nvmap/Kconfig.nvmap"
trysource "drivers/video/tegra/nvmap/Kconfig.nvmap"

if ARCH_TEGRA

config TEGRA_GR_VIRTUALIZATION
	bool "Tegra graphics virtualization support"
	default n
	depends on TEGRA_HV_MANAGER
	help
	  Adds Tegra graphics virtualization (host and gpu) support to client
	  drivers.

config TEGRA_DC
	tristate "Tegra Display Contoller"
	depends on (TEGRA_GRHOST || TEGRA_HOST1X) && I2C
	select BACKLIGHT_CLASS_DEVICE
	select FB_MODE_HELPERS
	help
	  Tegra display controller support.
	  Enable this to access the Tegra display controller using either framebuffer
	  console interface and a proprietary dc-ext interface or with ADF.

trysource ../display/drivers/video/tegra/Kconfig
trysource "../display/drivers/video/tegra/Kconfig.display"
trysource "drivers/video/tegra/Kconfig.display"

config TEGRA_CAMERA_PLATFORM
	bool "Enable tegra camera platform driver"
	depends on ARCH_TEGRA
	default y
	help
	  Enables tegra camera platform driver.
	  If unsure, say Y

config ML_TEGRA_TRACING
	bool "Enable ML specific tracing in Tegra"
	depends on TEGRA_DC
	default y
	help
	  Enables ML specific tracing in Tegra.

endif

config ML_SFD
	tristate "Magicleap Display Driver"
	depends on TEGRA_DC
	default n
	help
	  Magicflinger kernel display driver.
	  Now in test run only.
