CONFIG_CORESIGHT=y
CONFIG_CORESIGHT_LINK_AND_SINK_TMC=y
CONFIG_CORESIGHT_SINK_TPIU=y
CONFIG_CORESIGHT_SINK_ETBV10=y
CONFIG_CORESIGHT_SOURCE_ETM3X=y
CONFIG_CORESIGHT_SOURCE_ETM4X=y
CONFIG_FUNCTION_TRACER=y
CONFIG_FUNCTION_GRAPH_TRACER=y
CONFIG_KPROBES=y
CONFIG_TEGRA_DEBUG_DP_HDCP=y
CONFIG_IOSCHED_DEADLINE=m
CONFIG_IOSCHED_CFQ=m
CONFIG_SPI_SPIDEV=m
CONFIG_USB_SERIAL=m
CONFIG_TEGRA_BOOTLOADER_DEBUG=m
CONFIG_CONNECTOR=y
CONFIG_ML_6DOF_RAW=y
CONFIG_PSTORE_RTRACE=y
CONFIG_FAULT_INJECTION=y
CONFIG_PSTORE_FTRACE=y
CONFIG_USB_USBNET=y
CONFIG_USB_RTL8152=y
CONFIG_USB_NET_AX8817X=y
CONFIG_USB_NET_AX88179_178A=y
CONFIG_JOYSTICK_XPAD=y
CONFIG_JOYSTICK_XPAD_FF=y
CONFIG_JOYSTICK_XPAD_LEDS=y
