CONFIG_GRKERNSEC=y
CONFIG_GRKERNSEC_KMEM=y
CONFIG_GRKERNSEC_RANDSTRUCT=y
CONFIG_GRKERNSEC_RANDSTRUCT_PERFORMANCE=y

CONFIG_PAX=y
CONFIG_PAX_PT_PAX_FLAGS=y
CONFIG_PAX_NOEXEC=y
CONFIG_PAX_PAGEEXEC=y
CONFIG_PAX_MPROTECT=y

CONFIG_SECURITY_DMESG_RESTRICT=y
CONFIG_SECURITY_TIOCSTI_RESTRICT=y

CONFIG_MLSEC_EXEC_IMPLIES_DENYWRITE=y
CONFIG_MLSEC_ELF_SIGNING=y
CONFIG_MLSEC_SANDBOX=y
CONFIG_MLSEC_HARDEN_LOAD_SO=y

CONFIG_MLSEC_SANDBOX_DEVELOP=y
CONFIG_MLSEC_ELF_SIGNING_DEVELOP=y
CONFIG_GRKERNSEC_RWXMAP_LOG=y
CONFIG_MLSEC_ALLOW_PERMISSIVE_DEBUGGING=y

CONFIG_MLSEC_SELINUX_VIOLATION_LOGGING=y
CONFIG_MLSEC_SANDBOX_VIOLATION_LOGGING=y

CONFIG_HARDENED_USERCOPY=y
CONFIG_ARM64_UAO=n
CONFIG_RANDOMIZE_BASE=y
CONFIG_ARM64_VA_BITS_48=y

CONFIG_GCC_PLUGIN_CONSTIFY=y
