CONFIG_GRKERNSEC=y
CONFIG_GRKERNSEC_KMEM=y
CONFIG_GRKERNSEC_HIDESYM=y
CONFIG_GRKERNSEC_RANDSTRUCT=y
CONFIG_GRKERNSEC_RANDSTRUCT_PERFORMANCE=y

CONFIG_PAX=y
CONFIG_PAX_PT_PAX_FLAGS=y
CONFIG_PAX_NOEXEC=y
CONFIG_PAX_PAGEEXEC=y
CONFIG_PAX_MPROTECT=y

CONFIG_SECURITY_DMESG_RESTRICT=y
CONFIG_SECURITY_TIOCSTI_RESTRICT=y
CONFIG_SECURITY_SELINUX_DEVELOP=n

CONFIG_MLSEC_EXEC_IMPLIES_DENYWRITE=y
CONFIG_MLSEC_ELF_SIGNING=y
CONFIG_MLSEC_CHECK_VERITY=y
CONFIG_MLSEC_SANDBOX=y
CONFIG_MLSEC_SANDBOX_AUDIT=y
CONFIG_MLSEC_HARDEN_PTRACE=y

CONFIG_HARDENED_USERCOPY=y
CONFIG_MLSEC_HARDEN_LOAD_SO=y
CONFIG_ARM64_UAO=n
CONFIG_RANDOMIZE_BASE=y
CONFIG_ARM64_VA_BITS_48=y
CONFIG_GCC_PLUGIN_CONSTIFY=y
